.app-title {
    font-family: "barlowbold";
    color: #7b7e9b;
    text-align: center;
    margin: 50px 0px;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 100;
}

.settings-btn {
    margin-top: 20px;
}

@include for-mobile-wide-layout {
    .app-title {
        margin: 30px 0px;
    }

    .screen {
        padding: 0px 10px;
    }

    .settings-btn {
        margin-top: unset;
    }
}
