.app-title {
    font-family: 'barlowbold';
    color: #7B7E9B;
    text-align: center;
    margin: 50px 0px;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}

.settings-btn {
    margin-top: 20px;
}