button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    background-color: $clr2;
    color: $clr4;
    border: 1px solid $clr2;
    border-radius: 4px;
    padding: 5px;
    font-size: rem(24px);

    &:hover {
        background-color: $clr4;
        color: $clr2;
        border: 1px solid $clr2;
        border-radius: 4px;
        // transform: scale(1.1);
        transition: transform 0.4s ease;
    }
    &.home-action-button {
        align-self: center;
        margin-top: 15px;
    }
    &:focus {
        outline: none;
    }
    &.gellery-item-btn {
        font-size: rem(20px);
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
        color: #959191;
        transform: scale(1.2);
        transition: transform 0.4s ease-in-out;
    }
}
