.sound-option-icon {
    width: 62px;
    background-color: #eef0fb;
    color: #91939f;
    border-radius: 50%;
    padding: 20px;
    margin-inline-end: 10px;
    margin-bottom: 10px;
}

.font-option-icon:last-child {
    margin-inline-end: none;
}
