.sound-option-icon {
    height: 62px;
    width: 62px;
    background-color: #eef0fb;
    color: #91939f;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sound-option-icon-container {
    position: relative;
    margin-inline-end: 10px;
}

.sound-option-icon-container:last-child {
    margin-inline-end: unset;
}

.select-button {
    position: absolute;
    bottom: -17px;
}

@include for-tablet-layout {
    .sound-icons-container {
        width: 50%;
        flex-wrap: wrap;
        justify-content: flex-end;    
    }

    .sound-option-icon-container {
        margin-bottom: 15px;
    }

    .sound-option-icon-container:nth-child(3n) {
        margin-inline-end: unset;
    }
}

@include for-mobile-wide-layout {

    .sound-option-icon-container {
        margin-inline-end: 20px;
    }

    .sound-option-icon {
        height: 39px;
        width: 39px;
        flex-wrap: wrap;
    }

    .select-button {
        font-size: rem(14px);
        bottom: -10px;
    }
}