.timer-controller-container {
    width: 30%;
}

.timer-category {
    color: #bebdc3;
    margin-bottom: 5px;
}

.time-display {
    align-self: center;
}

.time-controller {
    justify-content: space-between;
    background-color: #eef1fa;
    border-radius: 8px;
    border: 1px solid #f3f3f3;
    padding: 10px 20px;
    font-size: 20px;
}

// .timer-img-container {
//     height: 16px;
// }
