.modal-container {
    position: relative;
    width: 50%;
    color: $clr2;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: "barlowbold";
}

.modal-section {
    padding: 25px 40px;
    border-bottom: 2px solid #f3f3f3;
}

.modal-title-container {
    justify-content: space-between;
}

.close-img-container {
    align-self: center;
}

.section-title {
    letter-spacing: 4px;
}

.time-title {
    margin-bottom: 10px;
}

.timer-panel {
    justify-content: space-between;
}

.font-setting,
.color-setting,
.sound-setting {
    align-items: center;
    justify-content: space-between;
}

.sound-setting {
    height: 160px;
    margin-bottom: 20px;
    border-bottom: none;
}

.apply-btn {
    position: absolute;
    align-self: center;
    padding: 20px 75px;
    bottom: -30px;
    border-radius: 40px;
}

@include for-tablet-wide-layout {
    .modal-container {
        width: 80%;
    }
    .sound-setting {
        height: 220px;
    }
}

@include for-mobile-wide-layout {
    .modal-container {
        width: 100%;
    }
    .modal-section {
        padding: 20px 20px;
    }
    .sound-setting {
        height: 180px;
    }
}
